.button {
  display: block;
  background-color: #3c82f6;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  font-family: "InterLightMedium"
}

.button:hover {
  background-color: #60a4fa;
}
