.container-register {
    flex-direction: row;
    display: flex;
    background-color: #fff;
  }
  
  .container-logo-form {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .container-form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 0;
  }
  
  .container-form-two {
    align-self: center;
  }
  
  .line {
    border-color: #ffffffa1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top-width: 1px;
  }
  
  .container-image {
    width: 40%;
    background-color: #2563eb;
  }
  
  .text-light {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6b7280;
  }
  
  .container-forgot-password {
    text-align: right;
    margin: 0.7rem 0;
    margin-bottom: 1.3rem;
  }

  .button-form{
    margin-top: 1rem;
  }

  .from-msm-pass{
    background-color: #e9b3b3;
    padding: 10;
    width: 50%;
  }
  
  @media only screen and (max-width: 700px) {
    .container {
      overflow: visible;
    }
    .container-image {
      display: none;
    }
  
    .container-logo-form {
      width: 100%;
    }
  
    .container-form {
      padding-top: 0;
      padding: 0 14px;
    }
  }
  