.container-loading {
  position: absolute;
  background-color: #50505040;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.loading {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
